@import "./bootstrap/bootstrap.scss";

html {
  font-size: 14px;
}

html body{
  font-feature-settings: "palt";
  line-height: 2;
  color: #444;
  background-color: #f4f4f4;
}

h1,h2,h3,h4,h5,h6 {
  font-family: bicyclette, sans-serif;
  color: #333;
  letter-spacing: .05em;
}

h1 {
  font-size: calc(30px + 5vw);
}

h2 {
  font-size: calc(28px + 2vw);
}

.works-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.8rem;
  &::before {
    content: "";
    display: block;
    padding-top:141%;
  }
}
.works-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  overflow: hidden;
}
.works-description {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: .5rem;
  font-size: .9rem;
  line-height: 1.5;
  opacity: 0;
  color: #fff;
  background-color: #000;
  transition: ease .3s;
  &:hover {
    opacity: .8;
  }
}
